.wall1 {
	height: calc(var(--block-size) * 4);
	width: calc(var(--block-size) * 3);
	transform: translate3d(calc(var(--block-size) * 0),
			calc(var(--block-size) * -3.5),
			calc(var(--block-size) * 3));
}

.wall2 {
	height: calc(var(--block-size) * 2);
	width: calc(var(--block-size) * 2);
	transform: translate3d(calc(var(--block-size) * 0),
			calc(var(--block-size) * -1.5),
			calc(var(--block-size) * 3));
}

.wall3 {
	height: calc(var(--block-size) * 4);
	width: calc(var(--block-size) * 2);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * -3),
			calc(var(--block-size) * -3.5),
			calc(var(--block-size) * 2));
}

.wall4 {
	height: calc(var(--block-size) * 4);
	width: calc(var(--block-size) * 2);
	transform: translate3d(calc(var(--block-size) * 2.99),
			calc(var(--block-size) * -3.5),
			calc(var(--block-size) * 2));
}

.wall5 {
	height: calc(var(--block-size) * 4);
	width: calc(var(--block-size) * 2);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * -2),
			calc(var(--block-size) * -3.5),
			calc(var(--block-size) * 3));
}

.wall6 {
	height: calc(var(--block-size) * 4);
	width: calc(var(--block-size) * 2);
	transform: translate3d(calc(var(--block-size) * 3.99),
			calc(var(--block-size) * -3.5),
			calc(var(--block-size) * 1));
}

.wall7 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 10);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 1),
			calc(var(--block-size) * -3.5),
			calc(var(--block-size) * -5));
	clip-path: polygon(0 0, 100% 0, 100% 100%,
			320px 100%,
			320px 128px,
			256px 128px,
			256px 100%,
			0 100%);
}

.wall8 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 10);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 3),
			calc(var(--block-size) * -3.5),
			calc(var(--block-size) * 1));
}

.wall9 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 8);
	transform: translate3d(calc(var(--block-size) * -1),
			calc(var(--block-size) * -3.5),
			calc(var(--block-size) * -4));
}

.wall10 {
	pointer-events: none;
	position: absolute;
	opacity: 60%;
	height: calc(var(--block-size) * 3);
	width: calc(var(--block-size) * 2);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 1),
			calc(var(--block-size) * -2.5),
			calc(var(--block-size) * 4.5));
}

.wall11 {
	height: calc(var(--block-size) * 3);
	width: calc(var(--block-size) * 1);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * -0.5),
			calc(var(--block-size) * -2.5),
			calc(var(--block-size) * 4.5));
}

.wall12 {
	height: calc(var(--block-size) * 3);
	width: calc(var(--block-size) * 1);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 2.5),
			calc(var(--block-size) * -2.5),
			calc(var(--block-size) * 4.5));
}

.wall13 {
	height: calc(var(--block-size) * 3);
	width: calc(var(--block-size) * 1);
	transform: translate3d(calc(var(--block-size) * 5),
			calc(var(--block-size) * -2.5),
			calc(var(--block-size) * 0));
}

.wall14 {
	height: calc(var(--block-size) * 3);
	width: calc(var(--block-size) * 1);
	transform: translate3d(calc(var(--block-size) * 5),
			calc(var(--block-size) * -2.5),
			calc(var(--block-size) * -2));
}

.wall15 {
	height: calc(var(--block-size) * 1);
	width: calc(var(--block-size) * 4);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 1),
			calc(var(--block-size) * -3.5),
			calc(var(--block-size) * 3));
}

.wall16 {
	height: calc(var(--block-size) * 1);
	width: calc(var(--block-size) * 7);
	transform: translate3d(calc(var(--block-size) * 1),
			calc(var(--block-size) * 5.5),
			calc(var(--block-size) * -2.5));
}

.wall17 {
	height: calc(var(--block-size) * 1);
	width: calc(var(--block-size) * 7);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 0),
			calc(var(--block-size) * 5.5),
			calc(var(--block-size) * -0.5));
}

.wall18 {
	height: calc(var(--block-size) * 1);
	width: calc(var(--block-size) * 7);
	transform: translate3d(calc(var(--block-size) * 1),
			calc(var(--block-size) * 5.5),
			calc(var(--block-size) * 2.5));
}

.wall19 {
	height: calc(var(--block-size) * 1);
	width: calc(var(--block-size) * 7);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 0),
			calc(var(--block-size) * 5.5),
			calc(var(--block-size) * 4.5));
}

.wall20 {
	height: calc(var(--block-size) * 6);
	width: calc(var(--block-size) * 13);
	transform: translate3d(calc(var(--block-size) * -1),
			calc(var(--block-size) * 0.5),
			calc(var(--block-size) * -5.5));
}

.wall21 {
	height: calc(var(--block-size) * 6);
	width: calc(var(--block-size) * 13);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 0),
			calc(var(--block-size) * 0.5),
			calc(var(--block-size) * -6.5));
			clip-path: polygon(0 0, 100% 0, 100% 100%,
			512px 100%,
			512px 128px,
			320px 129px,
			320px 100%,
			0 100%);
}

.wall22 {
	height: calc(var(--block-size) * 6);
	width: calc(var(--block-size) * 13);
	transform: translate3d(calc(var(--block-size) * -1),
			calc(var(--block-size) * 0.5),
			calc(var(--block-size) * 5.5));
}

.wall23 {
	height: calc(var(--block-size) * 6);
	width: calc(var(--block-size) * 13);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 0),
			calc(var(--block-size) * 0.5),
			calc(var(--block-size) * 4.5));
			clip-path: polygon(0 0, 100% 0, 100% 100%,
			448px 100%,
			448px 192px,
			384px 192px,
			384px 100%,
			0 100%);
}

.wall24 {
	height: calc(var(--block-size) * 4);
	width: calc(var(--block-size) * 2);
	transform: translate3d(calc(var(--block-size) * 11),
			calc(var(--block-size) * 2.5),
			calc(var(--block-size) * 0.5));
}

.wall25 {
	height: calc(var(--block-size) * 4);
	width: calc(var(--block-size) * 2);
	transform: translate3d(calc(var(--block-size) * 11),
			calc(var(--block-size) * 2.5),
			calc(var(--block-size) * -0.5));
}

.wall26 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 14);
	transform: translate3d(calc(var(--block-size) * -5),
			calc(var(--block-size) * -1.5),
			calc(var(--block-size) * 1.5));
}

.wall27 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 10);
	transform: translate3d(calc(var(--block-size) * -1),
			calc(var(--block-size) * -1.5),
			calc(var(--block-size) * -1.5));
}

.wall28 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 6);
	transform: translate3d(calc(var(--block-size) * -5),
			calc(var(--block-size) * -1.5),
			calc(var(--block-size) * -7.5));
}

.wall29 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 7);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 5),
			calc(var(--block-size) * -1.5),
			calc(var(--block-size) * -4.5));
}

.wall30 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 10);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 2.5),
			calc(var(--block-size) * -1.5),
			calc(var(--block-size) * -9));
}

.wall31 {
	height: calc(var(--block-size) * 8);
	width: calc(var(--block-size) * 1);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 6),
			calc(var(--block-size) * -5.5),
			calc(var(--block-size) * -4.5));
}

.wall32 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 3);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 6),
			calc(var(--block-size) * -5.5),
			calc(var(--block-size) * -5.5));
}

.wall33 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 3);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 6),
			calc(var(--block-size) * -5.5),
			calc(var(--block-size) * -4.5));
}

.wall34 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 3);
	transform: translate3d(calc(var(--block-size) * -5),
			calc(var(--block-size) * -5.5),
			calc(var(--block-size) * -6.5));
}

.wall35 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 3);
	transform: translate3d(calc(var(--block-size) * -5),
			calc(var(--block-size) * -5.5),
			calc(var(--block-size) * -5.5));
}

.wall36 {
	height: calc(var(--block-size) * 6);
	width: calc(var(--block-size) * 7);
	transform: translate3d(calc(var(--block-size) * -2),
			calc(var(--block-size) * -1.5),
			calc(var(--block-size) * -2.5));
}

.wall37 {
	height: calc(var(--block-size) * 6);
	width: calc(var(--block-size) * 7);
	transform: translate3d(calc(var(--block-size) * -2),
			calc(var(--block-size) * -1.5),
			calc(var(--block-size) * 2.5));
}

.wall38 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 7);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 0),
			calc(var(--block-size) * -1.5),
			calc(var(--block-size) * -4.5));
}

.wall39 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 7);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * 0),
			calc(var(--block-size) * -1.5),
			calc(var(--block-size) * 0.5));
}

.wall40 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 4);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * -0.5),
			calc(var(--block-size) * -0.5),
			calc(var(--block-size) * 1));
			clip-path: polygon(0% 0%, 0% 100%, 
			25% 100%, 
			25% 20%, 
			75% 20%, 
			75% 80%, 
			25% 80%, 
			25% 100%, 
			100% 100%, 100% 0%);
}

.wall41 {
	height: calc(var(--block-size) * 3);
	width: calc(var(--block-size) * 2);
	transform: translate3d(calc(var(--block-size) * 3),
			calc(var(--block-size) * 0.5),
			calc(var(--block-size) * 1.5));
}

.wall42 {
	height: calc(var(--block-size) * 3);
	width: calc(var(--block-size) * 2);
	transform: translate3d(calc(var(--block-size) * 3),
			calc(var(--block-size) * 0.5),
			calc(var(--block-size) * -0.5));
}

.wall43 {
	opacity: 60%;
	height: calc(var(--block-size) * 3);
	width: calc(var(--block-size) * 2);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * -0.5),
			calc(var(--block-size) * 0.5),
			calc(var(--block-size) * 2.5));
}

.wall44 {
	height: calc(var(--block-size) * 3);
	width: calc(var(--block-size) * 3);
	transform: translate3d(calc(var(--block-size) * 0),
			calc(var(--block-size) * 0.3),
			calc(var(--block-size) * -2.5));
	background: radial-gradient(circle, #32e8ee44 0%, rgba(255, 255, 255, 0) 92px);
	animation: torch-light 2s linear infinite;
}

@keyframes torch-light {
  95% {
	opacity: 0.8;
  }

  100% {
	opacity: 1;
  }
}

.wall45 {
	height: calc(var(--block-size) * 6);
	width: calc(var(--block-size) * 1);
	transform: translate3d(calc(var(--block-size) * -1),
			calc(var(--block-size) * 0.5),
			calc(var(--block-size) * -1.5));
}

.wall46 {
	height: calc(var(--block-size) * 6);
	width: calc(var(--block-size) * 1);
	transform: translate3d(calc(var(--block-size) * -1),
			calc(var(--block-size) * 0.5),
			calc(var(--block-size) * 1.5));
}

.wall47 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 1);
	transform: translate3d(calc(var(--block-size) * -1),
			calc(var(--block-size) * -3.5),
			calc(var(--block-size) * -1));
}

.wall48 {
	height: calc(var(--block-size) * 5);
	width: calc(var(--block-size) * 1);
	transform: translate3d(calc(var(--block-size) * -1),
			calc(var(--block-size) * -3.5),
			calc(var(--block-size) * 0));
}

.wall49 {
	height: calc(var(--block-size) * 3);
	width: calc(var(--block-size) * 3);
	transform: translate3d(calc(var(--block-size) * 1),
			calc(var(--block-size) * -0.7),
			calc(var(--block-size) * -1.5));
	background: radial-gradient(circle, #32e8ee44 0%, rgba(255, 255, 255, 0) 92px);
	animation: torch-light 2s linear infinite;
}

.wall50 {
	height: calc(var(--block-size) * 3);
	width: calc(var(--block-size) * 3);
	transform: translate3d(calc(var(--block-size) * -4),
			calc(var(--block-size) * -0.7),
			calc(var(--block-size) * -7.5));
	background: radial-gradient(circle, #32e8ee44 0%, rgba(255, 255, 255, 0) 92px);
	animation: torch-light 2s linear infinite;
}

.wall51 {
	height: calc(var(--block-size) * 4);
	width: calc(var(--block-size) * 5);
	transform: rotateY(90deg) translate3d(calc(var(--block-size) * -0.5),
			calc(var(--block-size) * -1.5),
			calc(var(--block-size) * 7));
	animation: gate-open 2s 42.5s forwards;
}

@keyframes gate-open {
	100% {
		transform: rotateY(90deg) translate3d(calc(var(--block-size) * -0.5),
			calc(var(--block-size) * -4.5),
			calc(var(--block-size) * 7));
	}
}

.wall52 {
	height: calc(var(--block-size) * 3);
	width: calc(var(--block-size) * 3);
	transform: translate3d(calc(var(--block-size) * 1),
			calc(var(--block-size) * -2.7),
			calc(var(--block-size) * -3.5));
	background: radial-gradient(circle, #32e8ee44 0%, rgba(255, 255, 255, 0) 92px);
	animation: torch-light 2s linear infinite;
}