
.floor-mainpart {
    height: calc(var(--block-size) * 9);
    width: calc(var(--block-size) * 8);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * -1), 
    calc(var(--block-size) * 0.5),
    calc(var(--block-size) * 4));
  }
  
  .floor2 {
    height: calc(var(--block-size) * 1);
    width: calc(var(--block-size) * 1);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * 0),
        calc(var(--block-size) * 2.5), 0);
  }
  
  .floor3 {
    height: calc(var(--block-size) * 4);
    width: calc(var(--block-size) * 1);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * 5),
        calc(var(--block-size) * -1),
        calc(var(--block-size) * 4.5));
  }
  
  .floor4 {
    height: calc(var(--block-size) * 4);
    width: calc(var(--block-size) * 1);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * 5),
        calc(var(--block-size) * -1),
        calc(var(--block-size) * 1.5));
  }
  
  .floor5 {
    height: calc(var(--block-size) * 11);
    width: calc(var(--block-size) * 11);
    transform: rotateX(90deg);
    clip-path: polygon(0% 0%, 0% 100%,
        192px 100%,
        192px 192px,
        512px 192px,
        512px 512px,
        192px 512px,
        192px 100%,
        100% 100%, 100% 0%);
  }
  
  .floor5-background {
    --radius: 60%;
    background: radial-gradient(circle, rgba(255, 168, 130, 0.61) 0%, rgba(255, 255, 255, 0) var(--radius));
    image-rendering: pixelated;
    animation: lava-light 3.8s linear infinite;
  
  }
  
  @keyframes lava-light {
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .floor6 {
    height: calc(var(--block-size) * 7);
    width: calc(var(--block-size) * 7);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * 1),
        calc(var(--block-size) * 0),
        calc(var(--block-size) * -2.2));
  }
  
  .floor7 {
    height: calc(var(--block-size) * 3);
    width: calc(var(--block-size) * 3);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * 10),
        calc(var(--block-size) * 0),
        calc(var(--block-size) * -4));
  }
  
  .floor8 {
    height: calc(var(--block-size) * 3);
    width: calc(var(--block-size) * 2);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * 11),
        calc(var(--block-size) * 0),
        calc(var(--block-size) * -2));
  }

  .floor9 {
    height: calc(var(--block-size) * 5);
    width: calc(var(--block-size) * 11);
    transform: rotateX(90deg);
  }

  .floor10 {
    height: calc(var(--block-size) * 11);
    width: calc(var(--block-size) * 6);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * -5),
        calc(var(--block-size) * -3),
        calc(var(--block-size) * 3));
  }

  .floor11 {
    height: calc(var(--block-size) * 9);
    width: calc(var(--block-size) * 6);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * -5),
        calc(var(--block-size) * -1),
        calc(var(--block-size) * 5));
  }

  .floor12 {
    height: calc(var(--block-size) * 3);
    width: calc(var(--block-size) * 6);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * -5),
        calc(var(--block-size) * -8),
        calc(var(--block-size) * 2));
  }

  .floor13 {
    height: calc(var(--block-size) * 3);
    width: calc(var(--block-size) * 6);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * -3),
        calc(var(--block-size) * -7),
        calc(var(--block-size) * 2));
  }

  .floor14 {
    height: calc(var(--block-size) * 5);
    width: calc(var(--block-size) * 9);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * 0),
        calc(var(--block-size) * 0),
        calc(var(--block-size) * 3));
  }
  
  .floor15 {
    height: calc(var(--block-size) * 7);
    width: calc(var(--block-size) * 5);
    transform: rotateX(90deg);
  }

  .floor16 {
    height: calc(var(--block-size) * 3);
    width: calc(var(--block-size) * 3);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * -2),
        calc(var(--block-size) * -2),
        calc(var(--block-size) * -2));
  }

  .floor17 {
    height: calc(var(--block-size) * 3);
    width: calc(var(--block-size) * 3);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * -2),
        calc(var(--block-size) * 2),
        calc(var(--block-size) * -2));
  }

  .floor18 {
    height: calc(var(--block-size) * 4);
    width: calc(var(--block-size) * 4);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * 3),
        calc(var(--block-size) * 1),
        calc(var(--block-size) * 1.5));
  }

  .floor19 {
    height: calc(var(--block-size) * 4);
    width: calc(var(--block-size) * 4);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * 3),
        calc(var(--block-size) * 1),
        calc(var(--block-size) * -1.5));
  }

  .floor20 {
    height: calc(var(--block-size) * 7);
    width: calc(var(--block-size) * 7);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * -2),
        calc(var(--block-size) * 0),
        calc(var(--block-size) * 4));
  }

  .floor21 {
    height: calc(var(--block-size) * 3);
    width: calc(var(--block-size) * 1);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * -1),
        calc(var(--block-size) * 0),
        calc(var(--block-size) * -1));
  }

  .floor22 {
    height: calc(var(--block-size) * 9);
    width: calc(var(--block-size) * 8);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * -1), 0,
     calc(var(--block-size) * 8));
  }

  .floor23 {
    height: calc(var(--block-size) * 4);
    width: calc(var(--block-size) * 1);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * -1),
        calc(var(--block-size) * 0),
        calc(var(--block-size) * 3.5));
  }

  .floor24 {
    height: calc(var(--block-size) * 11);
    width: calc(var(--block-size) * 11);
    transform: rotateX(90deg) translate3d(calc(var(--block-size) * 0),
        calc(var(--block-size) * 0),
        calc(var(--block-size) * 4));
  }
  